!!! 5
html(lang='en')
  head
    block head
      meta(charset='utf-8')
      title
        block title
          = locals.name
      link(rel='alternate', href=locals.url+'/feed.xml', type='application/rss+xml', title=locals.description)
      link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Fredericka+the+Great')
      link(rel='stylesheet', href='stylesheets/github.css')
      link(rel='stylesheet', href='stylesheets/main.css')
      link(rel='stylesheet', href='stylesheets/extra.css')
      script(src='javascripts/jquery-2.0.0.min.js')
      script(src='javascripts/main.js')
  body
    include navbar
    div.container
      div#row-fluid
        a.subwindow#one(href="#one")
          div.subcontainer
            img(src='images/art/mediums/painting_1_medium.jpg')
        a.subwindow#two(href="#two")
          div.subcontainer
            include code
        a.subwindow#three(href="#three")
          div.subcontainer
            include other
        a.subwindow#four(href="#four")
          div.subcontainer
    div.mainbar
