html {
  height: 100%;
  position: relative;
}
body {
  height: 100%;
  overflow: hidden;
}
.container {
  height: 100%;
}
.row-fluid {
  position: relative;
  width: 160%;
  left: -30%;
  height: 100%;
  -ms-transform: skewX(-45deg);
  -webkit-transform: skewX(-45deg);
  transform: skewX(-45deg);
  -webkit-transition: width 2s, -webkit-transform 2s, left 2s, right 2s;
  -o-transition: width 2s, transform 2s, left 2s, right 2s;
  -moz-transition: width 2s, transform 2s, left 2s, right 2s;
  transition: width 2s, transform 2s, left 2s, right 2s;
  /*
    > .subwindow.otherSelected {
        -ms-transform: skewX(0deg);
        -webkit-transform: skewX(0deg);
        transform: skewX(0deg);
    }
*/

}
.row-fluid > .span3 {
  height: 100%;
  width: 25%;
  float: left;
}
.row-fluid > .subwindow {
  display: block;
  /* -ms-transform: skewX(-45deg);
        -webkit-transform: skewX(-45deg);
        transform: skewX(-45deg); */

  -webkit-transition: width 2s, left 2s, right 2s;
  -o-transition: width 2s, left 2s, right 2s;
  -moz-transition: width 2s, left 2s, right 2s;
  transition: width 2s, left 2s, right 2s;
}
.row-fluid > .subwindow#one {
  -webkit-transition: width 2s, left 2s, right 2s, margin-left 2s;
  -o-transition: width 2s, left 2s, right 2s, margin-left 2s;
  -moz-transition: width 2s, left 2s, right 2s, margin-left 2s;
  transition: width 2s, left 2s, right 2s, margin-left 2s;
  margin-left: 0%;
}
.row-fluid > .subwindow#four {
  -webkit-transition: width 2s, left 2s, right 2s, margin-right 2s;
  -o-transition: width 2s, left 2s, right 2s, margin-right 2s;
  -moz-transition: width 2s, left 2s, right 2s, margin-right 2s;
  transition: width 2s, left 2s, right 2s, margin-right 2s;
  margin-right: 0%;
}
.row-fluid > .subwindow.selected {
  width: 62.5%;
}
.row-fluid > .subwindow.selected#one:target {
  margin-left: 18.75%;
}
.row-fluid > .subwindow.selected#four:target {
  margin-right: 18.75%;
}
.row-fluid > .subwindow.right1,
.row-fluid .subwindow.left1 {
  width: 18.75%;
}
.row-fluid > .subwindow.right2,
.row-fluid .subwindow.left2 {
  width: 9.375%;
}
.row-fluid > .subwindow.right3,
.row-fluid .subwindow.left3 {
  width: 6.25%;
}
.row-fluid > .subwindow.left#one {
  left: 0%;
  right: 82%;
}
.row-fluid > .subwindow.left#two {
  left: 0%;
  right: 82%;
}
.row-fluid > .subwindow.left#three {
  left: 0%;
  right: 82%;
}
.row-fluid > .subwindow.right#two {
  right: 0%;
  left: 82%;
}
.row-fluid > .subwindow.right#three {
  right: 0%;
  left: 82%;
}
.row-fluid > .subwindow.right#four {
  right: 0%;
  left: 82%;
}
.row-fluid > #one {
  background-color: rgba(0, 255, 1, 0.25);
}
.row-fluid > #two {
  background-color: rgba(0, 191, 215, 0.25);
}
.row-fluid > #three {
  background-color: rgba(255, 255, 1, 0.25);
}
.row-fluid > #four {
  background-color: rgba(254, 0, 0, 0.25);
}
.row-fluid.go {
  -ms-transform: skewX(0deg);
  -webkit-transform: skewX(0deg);
  transform: skewX(0deg);
}
.mainbar {
  background-color: rgba(255, 255, 1, 0.25);
  position: absolute;
  top: 20%;
  left: -100%;
  width: 100%;
  height: 65%;
  transition: left 2s ease-in-out;
  -webkit-transition: left 2s ease-in-out;
  -mox-transition: left 2s ease-in-out;
  -o-transition: left 2s ease-in-out;
}
.mainbar.activated {
  left: 0%;
}
.silenter {
  position: absolute;
  z-index: 100;
  text-align: center;
  left: 0;
  right: 0;
}
.silenter .name {
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
.silenter .name span {
  font-size: 50px;
  line-height: 65px;
}
.silenter .navigation {
  color: #252824;
}
.silenter .navigation a {
  color: #252824;
  font-size: 30px;
  line-height: 0px;
  padding: 0pt 3pt;
  text-decoration: none;
}
