html{height:100%;position:relative;}
body{height:100%;overflow:hidden;}

.container {height:100%;}

.row-fluid {
    position: relative;
    width: 160%;
    left: -30%;
    height: 100%;
    -ms-transform: skewX(-45deg);
    -webkit-transform: skewX(-45deg);
    transform: skewX(-45deg);
    -webkit-transition: width 2s, -webkit-transform 2s, left 2s, right 2s;
    -o-transition: width 2s, transform 2s, left 2s, right 2s;
    -moz-transition: width 2s, transform 2s, left 2s, right 2s;
    transition: width 2s, transform 2s, left 2s, right 2s;
    > .span3 {
        height: 100%;
        width: 25%;
        float: left;
    }
    > .subwindow {
        display: block;
        overflow: hidden;
        /* -ms-transform: skewX(-45deg);
        -webkit-transform: skewX(-45deg);
        transform: skewX(-45deg); */
        -webkit-transition: width 2s, left 2s, right 2s;
        -o-transition: width 2s, left 2s, right 2s;
        -moz-transition: width 2s, left 2s, right 2s;
        transition: width 2s, left 2s, right 2s;

        > * {
            -ms-transform: skewX(45deg);
            -webkit-transform: skewX(45deg);
            transform: skewX(45deg);
        }

        .subcontainer {
            overflow: hidden;
            position: absolute;
            width: (100% / (1.6 * .25))
        }
    }

    > .subwindow#one {
        -webkit-transition: width 2s, left 2s, right 2s, margin-left 2s;
        -o-transition: width 2s, left 2s, right 2s, margin-left 2s;
        -moz-transition: width 2s, left 2s, right 2s, margin-left 2s;
        transition: width 2s, left 2s, right 2s, margin-left 2s;
        margin-left: 0%;
    }

    > .subwindow#four {
        -webkit-transition: width 2s, left 2s, right 2s, margin-right 2s;
        -o-transition: width 2s, left 2s, right 2s, margin-right 2s;
        -moz-transition: width 2s, left 2s, right 2s, margin-right 2s;
        transition: width 2s, left 2s, right 2s, margin-right 2s;
        margin-right: 0%;
    }

    > .subwindow.selected {
        width: (100% / 1.6);
    }

    > .subwindow.selected#one:target { 
        margin-left: 18.75%;
    }

    > .subwindow.selected#four:target { 
        margin-right: 18.75%;
    }

/*
    > .subwindow.otherSelected {
        -ms-transform: skewX(0deg);
        -webkit-transform: skewX(0deg);
        transform: skewX(0deg);
    }
*/

    > .subwindow.right1, .subwindow.left1 {
        width: 18.75%;
    }

    > .subwindow.right2, .subwindow.left2 {
        width: 9.375%;
    }

    > .subwindow.right3, .subwindow.left3 {
        width: 6.25%;
    }

    > .subwindow.left#one {
        // left: 18.75%;
        left: 0%;
        // right: 81.25%;
        right: 82%;
    }
    > .subwindow.left#two {
        // left: 18.75%;
        left: 0%;
        // right: 81.25%;
        right: 82%;
    }
    > .subwindow.left#three {
        // left: 18.75%;
        left: 0%;
        // right: 81.25%;
        right: 82%;
    }

    > .subwindow.right#two {
        // right: 18.75%;
        right: 0%;
        // left: 81.25%;
        left: 82%;
    }
    > .subwindow.right#three {
        // right: 18.75%;
        right: 0%;
        // left: 81.25%;
        left: 82%;
    }
    > .subwindow.right#four {
        // right: 18.75%;
        right: 0%;
        // left: 81.25%;
        left: 82%;
    }

    > #one {
        background-color: rgba(0, 255, 1, 0.25);
        // left: 0%;
    }
    > #two {
        background-color: rgba(0, 191, 215, 0.25);
        // left: 25%;
    }
    > #three {
        background-color: rgba(255, 255, 1, 0.25);
        // left: 50%;
    }
    > #four {
        background-color: rgba(254, 0, 0, 0.25);
        // left: 75%;
    }
}

.row-fluid.go {
    -ms-transform: skewX(0deg);
    -webkit-transform: skewX(0deg);
    transform: skewX(0deg);
}


.mainbar {
    background-color: rgba(255, 255, 1, 0.25);
    position: absolute;
    top: 20%;
    left: -100%;
    width: 100%;
    height: 65%;
    transition: left 2s ease-in-out;
    -webkit-transition: left 2s ease-in-out;
    -mox-transition: left 2s ease-in-out;
    -o-transition: left 2s ease-in-out;
}

.mainbar.activated {
    left: 0%;
}

.silenter {
    position: absolute;
    z-index: 100;
    text-align: center;
    left: 0;
    right: 0;
    .name {
        width: 200px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        span {
            font-size: 50px;
            line-height: 65px;
        }
    }
    .navigation {
        color: hsl(105, 5%, 15%);
        a {
            color: hsl(105, 5%, 15%);
            font-size: 30px;
            line-height: 0px;
            padding: 0pt 3pt;
            text-decoration: none;
        }
    }
}
