html {
  height: 100%;
  position: relative;
}
body {
  height: 100%;
  position: relative;
  overflow: hidden;
}
.container {
  height: 100%;
}
.subwindow {
  height: 100%;
}
.subcontainer {
  position: absolute;
  height: 100%;
}
#one .subcontainer {
  margin-left: 75%;
}
#two .subcontainer {
  margin-left: -25%;
}
#three .subcontainer {
  margin-left: -125%;
}
#four .subcontainer {
  margin-left: -225%;
}
#row-fluid {
  width: 160%;
  height: 100%;
  margin-left: -30%;
  -ms-transform: skewX(-45deg);
  -webkit-transform: skewX(-45deg);
  transform: skewX(-45deg);
  -webkit-transition: -webkit-transform 2s, margin-left 2s, width 2s;
  -o-transition: transform 2s, margin-left 2s, width 2s;
  -moz-transition: transform 2s, margin-left 2s, width 2s;
  transition: transform 2s, margin-left 2s, width 2s;
}
#row-fluid > .subwindow {
  height: 100%;
  width: 25%;
  float: left;
  position: relative;
  -webkit-transition: -webkit-transform 2s, margin-left 2s, width 2s;
  -o-transition: transform 2s, margin-left 2s, width 2s;
  -moz-transition: transform 2s, margin-left 2s, width 2s;
  transition: transform 2s, margin-left 2s, width 2s;
}
#row-fluid.go .subwindow > .subcontainer {
  width: 100%;
  margin-left: 0%;
  -ms-transform: skewX(0deg);
  -webkit-transform: skewX(0deg);
  transform: skewX(0deg);
}
#row-fluid.go {
  -ms-transform: skewX(0deg);
  -webkit-transform: skewX(0deg);
  transform: skewX(0deg);
  width: 400%;
}
#row-fluid.goone {
  margin-left: 0;
}
#row-fluid.gotwo {
  margin-left: -100%;
}
#row-fluid.gothree {
  margin-left: -200%;
}
#row-fluid.gofour {
  margin-left: -300%;
}
#row-fluid > #one {
  background-color: rgba(0, 255, 1, 0.25);
}
#row-fluid > #two {
  background-color: rgba(0, 191, 215, 0.25);
}
#row-fluid > #three {
  background-color: rgba(255, 255, 1, 0.25);
}
#row-fluid > #four {
  background-color: rgba(254, 0, 0, 0.25);
}
.subwindow {
  overflow: hidden;
}
.subwindow > .subcontainer {
  -ms-transform: skewX(45deg);
  -webkit-transform: skewX(45deg);
  transform: skewX(45deg);
  height: 100%;
  width: 250%;
  -webkit-transition: margin-left 2s, width 2s, -webkit-transform 2s;
  -o-transition: margin-left 2s, width 2s, transform 2s;
  -moz-transition: margin-left 2s, width 2s, transform 2s;
  transition: margin-left 2s, width 2s, transform 2s;
}
.subwindow img {
  margin: 75px;
}
div #row-fluid.go .left1 > .subcontainer {
  margin-left: 100%;
  -webkit-transition: -webkit-transform 1.75s, width, 1.75s, margin-left 1.75s;
  -o-transition: transform 1.75s, margin-left 1.75s, width 1.75s;
  -moz-transition: transform 1.75s, margin-left 1.75s, width 1.75s;
  transition: transform 1.75s, margin-left 1.75s, width 1.75s;
}
div #row-fluid.go > .left2 > .subcontainer {
  margin-left: 200%;
  -webkit-transition: -webkit-transform 1.5s, width, 1.5s, margin-left 1.5s;
  -o-transition: transform 1.5s, margin-left 1.5s, width 1.5s;
  -moz-transition: transform 1.5s, margin-left 1.5s, width 1.5s;
  transition: transform 1.5s, margin-left 1.5s, width 1.5s;
}
div #row-fluid.go > .left3 > .subcontainer {
  margin-left: 300%;
  -webkit-transition: -webkit-transform 1.35s, width, 1.35s, margin-left 1.35s;
  -o-transition: transform 1.35s, margin-left 1.35s, width 1.35s;
  -moz-transition: transform 1.35s, margin-left 1.35s, width 1.35s;
  transition: transform 1.35s, margin-left 1.35s, width 1.35s;
}
div #row-fluid.go > .right1 > .subcontainer {
  margin-left: -100%;
  -webkit-transition: -webkit-transform 1.75s, width, 1.75s, margin-left 1.75s;
  -o-transition: transform 1.75s, margin-left 1.75s, width 1.75s;
  -moz-transition: transform 1.75s, margin-left 1.75s, width 1.75s;
  transition: transform 1.75s, margin-left 1.75s, width 1.75s;
}
div #row-fluid.go > .right2 > .subcontainer {
  margin-left: -200%;
  -webkit-transition: -webkit-transform 1.5s, width, 1.5s, margin-left 1.5s;
  -o-transition: transform 1.5s, margin-left 1.5s, width 1.5s;
  -moz-transition: transform 1.5s, margin-left 1.5s, width 1.5s;
  transition: transform 1.5s, margin-left 1.5s, width 1.5s;
}
div #row-fluid.go > .right3 > .subcontainer {
  margin-left: -300%;
  -webkit-transition: -webkit-transform 1.35s, width, 1.35s, margin-left 1.35s;
  -o-transition: transform 1.35s, margin-left 1.35s, width 1.35s;
  -moz-transition: transform 1.35s, margin-left 1.35s, width 1.35s;
  transition: transform 1.35s, margin-left 1.35s, width 1.35s;
}
.mainbar {
  background-color: rgba(255, 255, 1, 0.25);
  position: absolute;
  top: 20%;
  left: -100%;
  width: 100%;
  height: 65%;
  transition: left 2s ease-in-out;
  -webkit-transition: left 2s ease-in-out;
  -mox-transition: left 2s ease-in-out;
  -o-transition: left 2s ease-in-out;
}
.mainbar.activated {
  left: 0%;
}
.silenter {
  position: absolute;
  z-index: 100;
  text-align: center;
  left: 0;
  right: 0;
}
.silenter .name {
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
.silenter .name span {
  font-size: 50px;
  line-height: 65px;
}
.silenter .navigation {
  color: #252824;
}
.silenter .navigation a {
  color: #252824;
  font-size: 30px;
  line-height: 0px;
  padding: 0pt 3pt;
  text-decoration: none;
}
